<!DOCTYPE html>
<html lang="en-US">
    <head>
        <meta charset="UTF-8">
        <title>企业注册</title>
    </head>

    <body>
    {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for msgs in messages %}
                    <div class="alert alert-info" role="alert">
                        {{msgs}}
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
    <h1>企业登录</h1>
    <form action="{{ url_for('supplier.supplier_login') }}" method="post">
        <p><input type="text" name="username" placeholder="用户名"></p>
        <p><input type="password" name="password" placeholder="密码"></p>
        <p><input type="submit" value="登录"></p>
    </form>

    </body>

</html>