<!DOCTYPE html>
<html lang="en-US">

<head>
    <meta charset="UTF-8">
    <title>iWater | 订水服务</title>

    <!-- CSS -->
    <link rel="stylesheet" href="../static/css/style.css" type="text/css">
    <link rel="stylesheet" href="../static/css/bounceball.css" type="text/css">

</head>

<body>

    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader">
            <div class="wrap">
                <div class="loading">
                    <div class="bounceball"></div>
                    <div class="text">iWater</div>
                </div>
            </div>
        </div>
    </div>

    <!-- header -->
    <div class="header_top">
        <div class="header_top_left">
            <a href="{{ url_for('index') }}"><img src="../static/images/logo.png" height="60" width="60" id="header_top_left_logo" alt=""></a>
            <a href="{{ url_for('index') }}"><div class="name">iWater | 订水服务</div></a>
        </div>
        <div class="header_top_mid">
            <ul>
                <li class="header_top_mid_content"><a class="header_top_mid_content_text" href="{{url_for('index')}}">首页</a></li>
                <li class="header_top_mid_content"><a class="header_top_mid_content_text" href="{{url_for('supplier.supplier_login')}}">企业登录</a></li>
                <li class="header_top_mid_content"><a class="header_top_mid_content_text" href="{{url_for('customer.customer_login')}}">用户登录</a></li>
                <li class="header_top_mid_content"><a class="header_top_mid_content_text" href="{{url_for('admin.admin_login')}}">管理员登录</a></li>
            </ul>
        </div>
    </div>
</body>

</html>